---
title: Reading
---

<h1>Reading</h1>

<% data.reading.sort_by { |r| r.date }.reverse.each do |book| %>
  <h3><%= book.title %></h3>
  <p class="meta">
    <%= book.date.strftime("%B %e, %Y") %>
  </p>

  <% if book.notes.present? %>
    <h4>Notes</h4>
    <%= markdown(book.notes) %>
  <% end %>
<% end %>

<% if blog("reading").articles.any? %>
  <h2>Posts about Reading</h2>

  <% blog("reading").articles.each do |article| %>
    <div class="post">
      <h3><%= article.title %></h3>

      <p class="meta">
        <%= article.date.strftime("%B %e, %Y") %>
      </p>

      <%= image_tag "reading/#{article.data.image}" %>

      <%= article.summary %>
    </div>
  <% end %>
<% end %>
